In [23]:
print("mano tengo fe!")

mano tengo fe!

###clases de python

*variables
*operadores matematicos
*operadores de comparacion
*operadores logicos
*condicionales

#variable

In [24]:
#comentari

name="daysi" # cadena de caracteres o string

In [25]:
name

'daysi'

In [26]:
ln="segundo" # mala practica
last_name ="primera" # importante que tenga el guion y que sea con mayusculas

In [13]:
# aplicacion de variables
number_1 = 11
number_2 = 22

# operaciones
sum =  number_1 + number_2
substract = number_1 - number_2
multiplicity = number_1 * number_2
div = number_1 / number_2

In [14]:
#resultados
print(sum)
print(substract)
print(multiplicity)
print(div)

33
-11
242
0.5

In [19]:
#resultados
print("resultado de la suma es:", sum)
print(f"resultado de la resta es {substract}")
print(f"resultado de la multiplicacion es {multiplicity}")
print(f"resultado de la division es {div}")

resultado de la suma es: 33
resultado de la resta es -11
resultado de la multiplicacion es 242
resultado de la division es 0.5

In [22]:
# tipos de datos en python
last_name= "435"


print(type(last_name))
print(type(number_1))
print(type(div))

<class 'str'>
<class 'int'>
<class 'float'>

In [28]:
# ingreso de datos por teclado
number_1 = input("ingrese numer_1")
number_1 = float(number_1)

number_2 = input("ingrese numer_2")
number_2 = float(number_2)

# operaciones
sum =  number_1 + number_2
substract = number_1 - number_2
multiplicity = number_1 * number_2
div = number_1 / number_2

print("resultado de la suma es:", sum)
print(f"resultado de la resta es {substract}")
print(f"resultado de la multiplicacion es {multiplicity}")
print(f"resultado de la division es {div}")

resultado de la suma es: 8.0
resultado de la resta es 2.0
resultado de la multiplicacion es 15.0
resultado de la division es 1.6666666666666667

In [27]:
name_1 = input("nombre es: ")
print(name_1)

daysi

In [46]:
# listas
#int
#float
#string
#

list_1 = ["daysi", "fiore", "diana", "vic", 46, 87, 28, 2.89, 67.8]

In [45]:
list_1

['daysi', 'fiore', 'diana', 'vic', 46, 87, 28, 2.89]

In [43]:
# [start:stop]

names_list = list_1[0:4]

In [58]:
integers_list = list_1[4:7]

In [51]:
float_list = list_1[-2:]

In [54]:
# metodos de listas

float_list.append(55.5)

In [55]:
float_list

[2.89, 67.8, 55.5]

In [59]:
integers_list

[46, 87, 28]

In [61]:
# clear: borra los elementos de la lista 

integers_list.clear()

In [65]:
# copy: copia la lista original
names_list_2 = names_list.copy()

In [66]:
names_list_2

['daysi', 'fiore', 'diana', 'vic']

In [67]:
names_list

['daysi', 'fiore', 'diana', 'vic']

In [68]:
# len: cantidad de articulos en la lista

len(names_list)

4

### condicionales

In [ ]:
# sintaxis de un condicional simple
# if condicion:
    # operacion
# condicion

# mayor que >

# menor que <

# mayor igual >=

# menor igual <=

# diferente != 

# igual? ==

In [74]:
day = input('dia de la semana: ')
if (day == 'lunes'):
    print('hoy lunes voy a clases')
else:
    print('no es lunes')

no es lunes

In [82]:
# operadores logicos
# and y or

day = input('dia de la semana: ')
momento_day = input('ingrese momento de dia: ')

if (day == 'lunes') and (momento_day == 'noche'):
    print('voy al cine 2x1')

else:
    print('no es lunes')

voy al cine 2x1

In [81]:
# operadores logicos
# and y or

day = input('dia de la semana: ')
momento_day = input('ingrese momento de dia: ')

if (day == 'lunes') or (momento_day == 'noche'):
    print('veo netflix')

else:
    print('no es lunes')

veo netflix